.units {
   line-color: #777;
}

.units[zoom<=3] {
  line-width: 0.6;
}
.units[zoom=4] {
  line-width: 0.8;
}
.units[zoom=4][scale="medium"] {
  line-width: 0.1;
}
.units[zoom=5] {
  line-width: 1.6;
}
.units[zoom=6] {
  line-width: 0.2;
}
.units[zoom=7] {
  line-width: 0.4;
}
.units[zoom=8] {
  line-width: 1.6;
}
.units[zoom=9] {
  line-width: 2;
}
.units[zoom=10] {
  line-width: 1.4;
}
.units[zoom=11] {
  line-width: 1.9;
}
.units[zoom=12] {
  line-width: 4;
}
.units[zoom=13] {
  line-width: 5;
}
.units[zoom=14] {
  line-width: 6;
}
.units[zoom=15] {
  line-width: 7;
}
.units[zoom=16] {
  line-width: 8;
}

.units[color="null"] {
   polygon-fill: #777777;
}
.units[color=null] {
   polygon-fill: #777777;
}
/* Water polygons are invisible */
.units[color=""] {
  polygon-comp-op: src-out;
  polygon-opacity: 0;
  line-width: 0;
}


.lines {
  line-color:#000000;
  line-width: 10;
 }
.lines {
  [type="dike"] {
   line-color: #FF4136;
  }
  [type="fold"] {
   line-color: #F012BE;
  }
  [type="anticline"] {
   line-color: #F012BE;
  }
  [type="syncline"] {
   line-color: #F012BE;
  }
  [type="monocline"] {
   line-color: #F012BE;
  }
  [type="moraine"] {
   line-color: #3498DB;
   line-join: round;
   line-cap: round;
  }
  [type="flow"] {
   line-color: #FF4136;
  }
  [type="dike"] {
   line-color: #FF4136;
  }
  [type="sill"] {
   line-color: #FF4136;
  }
  [type="vein"] {
   line-color: #FF4136;
  }
  [type="marker bed"] {
    line-color: #333333;
  }
 }

.lines {
  [zoom = 0] {
    line-width: 0.6;
  }

  [zoom = 1] {
    line-width: 0.6;
  }

  [zoom = 2] {
    line-width: 0.6;
  }
  [zoom = 2][direction!=""] {
  	line-width: 1;
  }
  [zoom = 2][type="dike"],
  [zoom = 2][type="sill"] {
    line-width: 0.5;
  }

  [zoom = 3] {
    line-width: 0.8;
  }
  [zoom = 3][direction!=""] {
  	line-width: 1.2;
  }
  [zoom = 3][type="dike"],
  [zoom = 3][type="sill"], {
    line-width: 0.7;
  }

  [zoom = 4] {
    line-width:0.7;
  }
  [zoom = 4][direction!=""] {
  	line-width: 1.1;
  }
  [zoom = 4][type="dike"],
  [zoom = 4][type="sill"] {
    line-width: 0.6;
  }

  [zoom = 5] {
    line-width: 0.8;
  }
  [zoom = 5][direction!=""] {
  	line-width: 1.2;
  }
  [zoom = 5][type="dike"],
  [zoom = 5][type="sill"] {
    line-width: 0.7;
  }

  [zoom = 6] {
    line-width: 0.5;
  }
  [zoom = 6][direction!=""] {
  	line-width: 0.9;
  }
  [zoom = 6][type="dike"],
  [zoom = 6][type="sill"] {
    line-width: 0.4;
  }

  [zoom = 7] {
    line-width: 0.6;
  }
  [zoom = 7][direction!=""] {
  	line-width: 0.8;
  }
  [zoom = 7][type="dike"],
  [zoom = 7][type="sill"] {
    line-width: 0.5;
  }
  [zoom = 7][type="lineament"] {
    line-dasharray: 4, 2, 14, 2;
  }
  [zoom = 7][type="fold"],
  [zoom = 7][type="anticline"],
  [zoom = 7][type="syncline"],
  [zoom = 7][type="monocline"] {
    line-width: 1;
  }

  [zoom = 8] {
    line-width: 1;
  }
  [zoom = 8][direction!=""] {
  	line-width: 1.4;
  }
  [zoom = 8][type="dike"],
  [zoom = 8][type="sill"] {
    line-width: 0.9;
  }
  [zoom = 8][type="lineament"] {
    line-dasharray: 4, 2, 14, 2;
  }
  [zoom = 8][type="fold"],
  [zoom = 8][type="anticline"],
  [zoom = 8][type="syncline"],
  [zoom = 8][type="monocline"] {
    line-width: 1.6;
  }

  [zoom = 9] {
    line-width: 1.4;
  }
  [zoom = 9][direction!=""] {
  	line-width: 1.6;
  }
  [zoom = 9][type="dike"],
  [zoom = 9][type="sill"]  {
    line-width: 1.3;
  }
  [zoom = 9][type="lineament"] {
    line-dasharray: 6, 4, 22, 4;
  }
  [zoom = 9][type="fold"],
  [zoom = 9][type="anticline"],
  [zoom = 9][type="syncline"],
  [zoom = 9][type="monocline"] {
    line-width: 1.8;
  }

  [zoom = 10] {
    line-width: 1.2;
  }
  [zoom = 10][direction!=""] {
  	line-width: 1.6;
  }
  [zoom = 10][type="dike"],
  [zoom = 10][type="sill"] {
    line-width: 1.1;
  }
  [zoom = 10][type="moraine"] {
    line-width: 1;
    line-dasharray: 2,2;
  }
  [zoom = 10][type="vein"] {
    line-width: 1;
    ::line, ::hatch, { line-color: #FF4136;}
    ::hatch {
      line-width: 3;
      line-dasharray: 2, 40;
      line-join: round;
      line-cap: round;
    }
  }
  [zoom = 10][type="lineament"] {
    line-dasharray: 6, 6, 16, 6;
  }
  [zoom = 10][type="fold"],
  [zoom = 10][type="anticline"],
  [zoom = 10][type="syncline"],
  [zoom = 10][type="monocline"] {
    line-width: 1.8;
  }

  [zoom = 11] {
    line-width: 1.8;
  }
  [zoom = 11][direction!=""] {
  	line-width: 2.2;
  }
  [zoom = 11][type="dike"],
  [zoom = 11][type="sill"] {
    line-width: 1.9;
  }
  [zoom = 11][type="moraine"] {
    line-width: 1.6;
    line-dasharray: 2,4;
  }
  [zoom = 11][type="vein"] {
    line-width: 1.6;
    ::line, ::hatch, { line-color: #FF4136;}
    ::hatch {
      line-width: 5;
      line-dasharray: 2, 36;
      line-join: round;
      line-cap: round;
    }
  }
  [zoom = 11][type="lineament"] {
    line-dasharray: 8, 4, 28, 4;
  }
  [zoom = 11][type="fold"],
  [zoom = 11][type="anticline"],
  [zoom = 11][type="syncline"],
  [zoom = 11][type="monocline"] {
    line-width: 2.4;
  }


  [zoom = 12] {
    line-width: 2.2;
  }
  [zoom = 12][direction!=""] {
  	line-width: 2.6;
  }
  [zoom = 12][type="dike"],
  [zoom = 12][type="sill"] {
    line-width: 1.8;
  }
  [zoom = 12][type="moraine"] {
    line-width: 1.6;
    line-dasharray: 2,6;
  }
  [zoom = 12][type="vein"] {
    line-width: 1.6;
    ::line, ::hatch, { line-color: #FF4136;}
    ::hatch {
      line-width: 8;
      line-dasharray: 2, 44;
      line-join: round;
      line-cap: round;
    }
  }
  [zoom = 12][type="flow"] {
    line-width: 2.6;
    line-dasharray: 6,6;
  }
  [zoom = 12][type="lineament"] {
    line-dasharray: 10, 6, 36, 6;
  }
  [zoom = 12][type="fold"],
  [zoom = 12][type="anticline"],
  [zoom = 12][type="syncline"],
  [zoom = 12][type="monocline"] {
    line-width: 2.8;
  }



  [zoom = 13] {
    line-width: 3;
  }
  [zoom = 13][direction!=""] {
    line-width: 3.4;
  }
  [zoom = 13][type="dike"],
  [zoom = 13][type="sill"] {
    line-width: 2.6;
  }
  [zoom = 13][type="moraine"] {
    line-width: 2.2;
    line-dasharray: 2,10;
  }
  [zoom = 13][type="vein"] {
    line-width: 2;
    ::line, ::hatch, { line-color: #FF4136;}
    ::hatch {
      line-width: 10;
      line-dasharray: 2, 54;
      line-join: round;
      line-cap: round;
    }
  }
  [zoom = 13][type="flow"] {
    line-width: 3;
    line-dasharray: 6,6;
  }
  [zoom = 13][type="marker bed"] {
    line-width: 4;
    line-dasharray: 10,10;
  }
  [zoom = 13][type="lineament"] {
    line-dasharray: 12, 8, 44, 8;
  }
  [zoom = 13][type="fold"],
  [zoom = 13][type="anticline"],
  [zoom = 13][type="syncline"],
  [zoom = 13][type="monocline"] {
    line-width: 3.6;
  }


  [zoom = 14] {
    line-width: 5;
  }
  [zoom = 14][direction!=""] {
    line-width: 5.4;
  }
  [zoom = 14][type="dike"],
  [zoom = 14][type="sill"] {
    line-width: 4.6;
  }
  [zoom = 14][type="moraine"] {
    line-width: 4.2;
    line-dasharray: 2,18;
  }
  [zoom = 14][type="vein"] {
    line-width: 3;
    ::line, ::hatch, { line-color: #FF4136;}
    ::hatch {
      line-width: 12;
      line-dasharray: 2, 70;
      line-join: round;
      line-cap: round;
    }
  }
  [zoom = 14][type="flow"] {
    line-width: 4;
    line-dasharray: 6,6;
  }
  [zoom = 14][type="marker bed"] {
    line-width: 6;
    line-dasharray: 10,10;
  }
  [zoom = 14][type="lineament"] {
    line-dasharray: 16, 10, 58, 10;
  }
  [zoom = 14][type="fold"],
  [zoom = 14][type="anticline"],
  [zoom = 14][type="syncline"],
  [zoom = 14][type="monocline"] {
    line-width: 5.6;
  }


  [zoom = 15] {
    line-width: 6;
  }
  [zoom = 15][direction!=""] {
    line-width: 6.4;
  }
  [zoom = 15][type="dike"],
  [zoom = 15][type="sill"] {
    line-width: 5;
  }
  [zoom = 15][type="moraine"] {
    line-width: 7;
    line-dasharray: 2,20;
  }
  [zoom = 15][type="vein"] {
    line-width: 4;
    ::line, ::hatch, { line-color: #FF4136;}
    ::hatch {
      line-width: 14;
      line-dasharray: 2, 90;
      line-join: round;
      line-cap: round;
    }
  }
  [zoom = 15][type="flow"] {
    line-width: 5;
    line-dasharray: 10,10;
  }
  [zoom = 15][type="marker bed"] {
    line-width: 7;
    line-dasharray: 10,10;
  }
  [zoom = 15][type="lineament"] {
    line-dasharray: 16, 10, 58, 10;
  }
  [zoom = 15][type="fold"],
  [zoom = 15][type="anticline"],
  [zoom = 15][type="syncline"],
  [zoom = 15][type="monocline"] {
    line-width: 7;
  }


  [zoom = 16] {
    line-width: 8;
  }
  [zoom = 16][direction!=""] {
    line-width: 8.4;
  }
  [zoom = 16][type="dike"],
  [zoom = 16][type="sill"] {
    line-width: 7;
  }
  [zoom = 16][type="moraine"] {
    line-width: 8.2;
    line-dasharray: 2,30;
  }
  [zoom = 16][type="vein"] {
    line-width: 5;
    ::line, ::hatch, { line-color: #FF4136;}
    ::hatch {
      line-width: 16;
      line-dasharray: 2, 96;
      line-join: round;
      line-cap: round;
    }
  }
  [zoom = 16][type="flow"] {
    line-width: 6;
    line-dasharray: 14,14;
  }
  [zoom = 16][type="marker bed"] {
    line-width: 8;
    line-dasharray: 10,10;
  }
  [zoom = 16][type="lineament"] {
    line-dasharray: 20, 12, 72, 12;
  }
  [zoom = 16][type="fold"],
  [zoom = 16][type="anticline"],
  [zoom = 16][type="syncline"],
  [zoom = 16][type="monocline"] {
    line-width: 8.8;
  }


  [zoom > 16] {
    line-width: 0;
  }
}
